<div class="app-header">
  <header class="container ">
    <!-- <h1 class="logo">Mister Bitcoin</h1>
    <nav class="nav-links">
     
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="contact" routerLinkActive="active">Contact</a>
      <a routerLink="statistics" routerLinkActive="active">Statistics</a>
    </nav> -->


    <mat-toolbar>
      <div class="logo">
        <mat-icon>attach_money</mat-icon>
        <a routerLink="">Mister Bitcoin</a>
      </div>

      <div class="right-links">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <button mat-icon-button
            class="example-icon favorite-icon">
            <mat-icon>home</mat-icon>
          </button></a>
        <a routerLink="contact" routerLinkActive="active"> <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>account_box</mat-icon>
          </button></a>
        <a routerLink="statistics" routerLinkActive="active"><button mat-icon-button class="example-icon">
            <mat-icon>show_chart</mat-icon>
          </button></a>
        <a routerLink="signup" routerLinkActive="active"><button mat-icon-button class="example-icon">
            <mat-icon>login</mat-icon>
          </button></a>
      </div>


    </mat-toolbar>
  </header>
</div>