<section class="contact-edit">

  <button mat-raised-button class="cancel-btn" (click)="onCancel()">X</button>
  <h1>{{changeTitle()}} Contact</h1>
  <form *ngIf="contact" (ngSubmit)="onSaveContact()">

    <!-- <label for="name">Name</label>
    <input [(ngModel)]="contact.name" type="text" name="name" id="name"> -->

    <mat-form-field appearance="">
      <mat-label for="name">Name</mat-label>
      <input autocomplete="off" [(ngModel)]="contact.name" type="text" name="name" id="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="">
      <mat-label for="email">email</mat-label>
      <input autocomplete="off" [(ngModel)]="contact.email" type="email" name="email" id="email" matInput>
    </mat-form-field>

    <mat-form-field appearance="">
      <mat-label for="phone">phone</mat-label>
      <input autocomplete="off" [(ngModel)]="contact.phone" type="phone" name="phone" id="phone" matInput>
    </mat-form-field>

    <!-- <label for="email">email</label>
    <input [(ngModel)]="contact.email" type="email" name="email" id="email">

    <label for="phone">phone</label>
    <input [(ngModel)]="contact.phone" type="phone" name="phone" id="phone"> -->

    <!-- <label for="birthDate">Birth Date</label>
      <input [ngModel]="contact.birthDate|date:'yyyy-MM-dd'" (ngModelChange)="contact.birthDate = $event" type="date" name="birthDate" id="birthDate"> -->

    <button mat-raised-button>Save</button>
  </form>

</section>