<section [routerLink]="[contact._id]" class="contact-preview">
  <section class="info">
    <!-- <img src="./assets/img/user.png" alt=""> -->
    <!-- <img src="https://picsum.photos/200/300?random=1"> -->
    <img [src]="contact.imgUrl" alt="">
    <p> {{contact.name}}</p>
  </section>
  <section (click)="$event.stopPropagation()" class="actions">
    <a [routerLink]="['edit', contact._id]"><button mat-raised-button>Edit</button></a>
    <button mat-raised-button (click)="onRemove.emit(contact._id)" class="remove-btn">X</button>
  </section>
</section>